<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="gemini-blueprint" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gemini-blueprint.feature.group" version="2.0.0.M02"/>
<unit id="spring.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-aspects.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-dm.feature.group" version="1.2.1"/>
<unit id="spring-dm-web.feature.group" version="1.2.1"/>
<unit id="spring-instrument.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-jdbc.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-jms.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-orm.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-oxm.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-security.feature.group" version="3.1.4.RELEASE"/>
<unit id="spring-struts.feature.group" version="3.2.4.RELEASE"/>
<unit id="spring-test.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-tx.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-web.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-web-portlet.feature.group" version="4.0.2.RELEASE_1"/>
<unit id="spring-websocket.feature.group" version="4.0.2.RELEASE_1"/>
<repository location="http://p2.martenscs.net/karaf/spring/3.0.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="framework.feature.group" version="3.0.1"/>
<repository location="http://p2.martenscs.net/karaf/framework/3.0.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.equinox.osgi.runtime.feature.group" version="0.0.1.201403311556"/>
<unit id="org.equinox.osgi.runtime.source.feature.group" version="0.0.1.201403311556"/>
<unit id="org.eclipse.osgi.web.feature.group" version="1.0.0.201403311556"/>
<unit id="org.eclipse.osgi.web.source.feature.group" version="1.0.0.201403311556"/>
<repository location="http://p2.martenscs.net/equinox-runtime"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.apache.aries.blueprint.cm"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.jetty.servlets.source"/>
<plugin id="org.springframework.expression"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.slf4j.jul"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.coordinator.source"/>
<plugin id="org.apache.servicemix.bundles.spring-core"/>
<plugin id="org.eclipse.jetty.deploy"/>
<plugin id="jetty.home.bundle"/>
<plugin id="org.eclipse.jetty.servlets"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="org.springframework.security.taglibs"/>
<plugin id="org.eclipse.jetty.continuation.source"/>
<plugin id="org.eclipse.jetty.monitor"/>
<plugin id="org.eclipse.jetty.nested.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.jetty.nosql.source"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.karaf.bundle.springstate"/>
<plugin id="org.apache.servicemix.bundles.spring-context-support"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="org.eclipse.gemini.blueprint.extender"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.springframework.osgi.web"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="javax.transaction"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl.source"/>
<plugin id="org.eclipse.jetty.deploy.source"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.annotations.source"/>
<plugin id="com.google.guava"/>
<plugin id="org.apache.taglibs.standard.glassfish"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp.source"/>
<plugin id="org.apache.aries.proxy.impl"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.jetty.policy"/>
<plugin id="org.springframework.security.core"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.apache.servicemix.bundles.spring-tx"/>
<plugin id="org.eclipse.jetty.nosql"/>
<plugin id="org.apache.taglibs.standard.glassfish.source"/>
<plugin id="org.eclipse.jetty.rewrite"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.apache.aries.quiesce.api"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.springframework.osgi.extensions.annotations"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.apache.servicemix.bundles.spring-beans"/>
<plugin id="org.apache.servicemix.bundles.cglib"/>
<plugin id="org.eclipse.jetty.plus"/>
<plugin id="org.eclipse.jetty.ajp.source"/>
<plugin id="org.apache.geronimo.specs.geronimo-jms_1.1_spec"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.apache.karaf.deployer.spring" version="3.0.1"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.apache.servicemix.bundles.spring-web"/>
<plugin id="org.apache.servicemix.bundles.aopalliance"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.ops4j.pax.url.mvn"/>
<plugin id="javax.servlet"/>
<plugin id="org.apache.commons.beanutils"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.jetty.ajp"/>
<plugin id="org.eclipse.jetty.webapp"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.springframework.context"/>
<plugin id="org.apache.jasper.glassfish.source"/>
<plugin id="org.eclipse.jetty.osgi.httpservice.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.nested"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.jetty.webapp.source"/>
<plugin id="org.eclipse.jetty.monitor.source"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="javax.inject"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.slf4j.jcl"/>
<plugin id="org.slf4j.log4j"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.apache.servicemix.bundles.spring-expression"/>
<plugin id="org.apache.servicemix.bundles.spring-test"/>
<plugin id="org.apache.aries.blueprint.api"/>
<plugin id="org.apache.servicemix.bundles.spring-webmvc"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.websocket"/>
<plugin id="org.apache.servicemix.bundles.spring-orm"/>
<plugin id="org.apache.servicemix.bundles.spring-aspects"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.apache.aries.blueprint.core.compatibility"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.jetty.xml"/>
<plugin id="org.apache.servicemix.bundles.spring-aop"/>
<plugin id="org.eclipse.gemini.blueprint.core"/>
<plugin id="org.apache.servicemix.bundles.spring-instrument"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.apache.servicemix.bundles.spring-oxm"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.jetty.osgi.boot.source"/>
<plugin id="org.eclipse.equinox.region.source"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.jetty.osgi.httpservice"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.eclipse.jetty.jmx"/>
<plugin id="org.eclipse.jetty.jndi.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.apache.servicemix.bundles.spring-jms"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.gemini.blueprint.io"/>
<plugin id="org.apache.servicemix.bundles.spring-jdbc"/>
<plugin id="org.eclipse.jetty.client.source"/>
<plugin id="org.apache.aries.blueprint.core"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.apache.servicemix.bundles.spring-webmvc-portlet"/>
<plugin id="org.springframework.web"/>
<plugin id="org.apache.aries.util"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.eclipse.jetty.websocket.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.springframework.security.config"/>
<plugin id="org.springframework.context.support"/>
<plugin id="org.eclipse.equinox.coordinator"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.apache.servicemix.bundles.spring-context"/>
<plugin id="org.apache.servicemix.bundles.struts"/>
<plugin id="org.eclipse.jetty.jaspi.source"/>
<plugin id="org.springframework.security.acls"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.eclipse.jetty.rewrite.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.eclipse.jetty.jaspi"/>
<plugin id="org.eclipse.jetty.osgi.boot"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.jetty.jndi"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.springframework.core"/>
<plugin id="com.google.gson"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.springframework.web.struts"/>
<plugin id="org.eclipse.jetty.plus.source"/>
<plugin id="org.springframework.web.servlet"/>
<plugin id="org.apache.geronimo.specs.geronimo-jta_1.1_spec"/>
<plugin id="org.springframework.security.web"/>
<plugin id="org.springframework.osgi.extender"/>
<plugin id="org.eclipse.equinox.region"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.apache.jasper.glassfish"/>
<plugin id="org.ops4j.pax.url.maven.commons"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.apache.servicemix.bundles.aspectj"/>
<plugin id="org.eclipse.jetty.jmx.source"/>
<plugin id="org.apache.aries.proxy.api"/>
<plugin id="org.apache.servicemix.bundles.spring-websocket"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
<plugin id="org.eclipse.jetty.xml.source"/>
</includeBundles>
</target>
